<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pattern.com.patternproj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EasyModeActivity" />
        <activity android:name=".activity.MediumModeActivity" />
        <activity android:name=".activity.PatternMainActivity" />
        <activity android:name=".activity.BasicRulesActivity" />
        <activity android:name=".activity.HardModeActivity" />
        <activity android:name=".activity.easy.PatternOneActivity"></activity>
    </application>

</manifest>